* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #a093c2;
  --secondary-colour: #d2ebf0;
  --accent-colour: #efcccb;
  --white: #ffffff;
  --heading-text-colour: #000435;
  --body-text-colour: #888dc3;
  --link-transitions: all 200ms ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 280px 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  height: 100vh;
}

.sidebar,
.main-content {
  padding: 26px;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;
  grid-area: sidebar;
  background-color: var(--primary-colour);
  align-content: flex-start;
}

.sidebar-heading-and-icon {
  display: grid;
  grid-template-columns: 80px 3fr;
  grid-template-rows: 1fr;
  gap: 16px;
  align-items: center;
}

#dashboard-sidebar-icon {
  height: 64px;
  width: auto;
  justify-self: center;
}

h1#sidebar-heading {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

img.sidebar-menu-icons {
  height: 32px;
  justify-self: center;
}

ul.sidebar-menus {
  display: grid;
  grid-template-columns: 80px 4fr;
  column-gap: 16px;
  row-gap: 22px;
}

ul.sidebar-menus li {
  list-style-type: none;
  color: var(--white);
  font-size: 1.4rem;
  transition: var(--link-transitions);
}

ul.sidebar-menus li:hover {
  color: var(--heading-text-colour);
}

.header {
  display: grid;
  grid-area: header;
  background-color: var(--white);
  gap: 18px;
  padding: 18px 72px;
}

.header-icons {
  height: 28px;
}

.header-top-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: min-content;
}

.dashboard-search-container {
  display: flex;
  align-items: center;
  gap: 22px;
  height: min-content;
}

.dashboard-search-container input[type="search"] {
  height: 52px;
  padding: 12px;
  outline: 2px solid var(--secondary-colour);
  border: none;
  background-color: var(--secondary-colour);
  border-radius: 28px;
  width: max(320px, 100%);
  font-size: 1.2rem;
  color: var(--heading-text-colour);
}

.dashboard-search-container input:focus {
  outline: 2px solid var(--primary-colour);
}

.profile-info-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.profile-image-small-wrapper {
  width: 60px;
  height: 60px;
}

.profile-image-large-wrapper {
  width: 90px;
  height: 90px;
}

.profile-image-small-wrapper,
.profile-image-large-wrapper {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-small,
.profile-image-large {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header-profile-pic-small {
  display: grid;
  justify-self: center;
}

h3#header-username-small {
  display: grid;
  justify-self: flex-end;
  font-size: 1.2em;
  font-weight: 600;
}

.header-buttons {
  font-size: 1.2em;
  color: var(--white);
  background-color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  padding: 8px 26px;
  border-radius: 32px;
  transition: var(--link-transitions);
}

.header-buttons:hover {
  color: var(--primary-colour);
  background-color: var(--white);
}

h3#header-username-large {
  font-size: 1.5em;
  font-weight: 600;
}

.header-bottom-row {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
}

.welcome-message-container {
  display: flex;
  gap: 22px;
}

p#welcome-message-intro {
  font-weight: 500;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.header-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: center;
}

.main-content {
  grid-area: main-content;
  background-color: var(--secondary-colour);
}
